{% extends 'app/base.html' %}
{% load static %}
{% block title %}LOGIN{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3" >
            <h3>Reset Password Completed!!!</h3>
<hr>
{% comment %} <div>
<iframe src="https://giphy.com/gifs/DefyTVNetwork-duck-dynasty-defytv-pdSncNyYgaH0wqaCqp" width='100' height='200' frameborder='0'
 class="giphy-embed" allowFullScreen></iframe>
</div> {% endcomment %}
</div>
 </div>
 </div>

{% endblock main-content %}
